<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>EEThreadInfo</display-name>
    <servlet>
        <servlet-name>Twiddle</servlet-name>
        <servlet-class>com.gent00.TwiddleServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Twiddle</servlet-name>
        <url-pattern>/Twiddle/*</url-pattern>
    </servlet-mapping>

</web-app>