<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>EEThreadInfo</display-name>
    <servlet>
        <servlet-name>Twiddle</servlet-name>
        <servlet-class>com.gent00.TwiddleServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TwiddleJMS</servlet-name>
        <servlet-class>com.gent00.TwiddleJMSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>TwiddleEEThread</servlet-name>
        <servlet-class>com.gent00.TwiddleEEThread</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LogonServlet</servlet-name>
        <servlet-class>com.gent00.login.LogonServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LogoffServlet</servlet-name>
        <servlet-class>com.gent00.login.LogoffServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>IncrementSessionValServlet</servlet-name>
        <servlet-class>com.gent00.login.IncrementSessionValServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>

        <servlet-name>PrometheusMetrics</servlet-name>
        <servlet-class>io.prometheus.client.exporter.MetricsServlet</servlet-class>
        <init-param>
            <param-name>wl-dispatch-policy</param-name>
            <param-value>guiwm</param-value><!--Use `guiwm` Work Manager-->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Twiddle</servlet-name>
        <url-pattern>/Twiddle/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TwiddleJMS</servlet-name>
        <url-pattern>/TwiddleJMS/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PrometheusMetrics</servlet-name>
        <url-pattern>/Metrics/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogonServlet</servlet-name>
        <url-pattern>/Logon/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IncrementSessionValServlet</servlet-name>
        <url-pattern>/Inc/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LogoffServlet</servlet-name>
        <url-pattern>/Logoff/*</url-pattern>
    </servlet-mapping>



    <filter>
        <filter-name>CookieFilter</filter-name> <!-- mandatory -->
        <filter-class>com.gent00.CookieMDBFilter</filter-class> <!-- mandatory -->
    </filter>
    <filter-mapping>
        <filter-name>CookieFilter</filter-name> <!-- mandatory -->
        <url-pattern>/*</url-pattern> <!-- either url-pattern or servlet-name is mandatory -->
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>


    <listener>
        <listener-class>com.gent00.HTTPSessionAttributeListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.gent00.HTTPSessionListener</listener-class>
    </listener>
</web-app>
